<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>


<!--<div class="right_col" role="main" data-layout-fragment="content">-->
<!--    <div>-->
<!--        <div class="x_panel">-->
<!--            <div class="x_title">-->
<!--                <h2>Change Password</h2>-->
<!--                <ul class="nav navbar-right panel_toolbox">-->
<!--                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
<!--                    </li>-->
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                           aria-expanded="false"><i-->
<!--                                class="fa fa-wrench"></i></a>-->
<!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                            <a class="dropdown-item" href="#">Settings 1</a>-->
<!--                            <a class="dropdown-item" href="#">Settings 2</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li><a class="close-link"><i class="fa fa-close"></i></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="clearfix"></div>-->
<!--            </div>-->
<!--            <div class="x_content">-->
<!--                <br/>-->
<!--                <div class="col-md-8">-->
<!--                    <form class="form-horizontal form-label-left" th:action="@{/users/changePassword}"-->
<!--                          th:object="${changePassword}"-->
<!--                          method="post">-->

<!--                        <div class="form-group row ">-->
<!--                            <div class="col-md-9 col-sm-9 ">-->
<!--                                <input hidden th:field="*{userId}">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group row ">-->
<!--                            <label class="control-label col-md-3 col-sm-3 ">Old Password</label>-->
<!--                            <div class="col-md-9 col-sm-9 ">-->
<!--                                <input type="password" th:field="*{oldPassword}" class="form-control"-->
<!--                                       required="required"-->
<!--                                       placeholder="Old Password">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group row ">-->
<!--                            <label class="control-label col-md-3 col-sm-3 ">New Password</label>-->
<!--                            <div class="col-md-9 col-sm-9 ">-->
<!--                                <input type="password" th:field="*{newPassword}" class="form-control"-->
<!--                                       required="required"-->
<!--                                       placeholder="New Password">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group row ">-->
<!--                            <label class="control-label col-md-3 col-sm-3 ">Confirm Password</label>-->
<!--                            <div class="col-md-9 col-sm-9 ">-->
<!--                                <input type="password" th:field="*{confirmPassword}" class="form-control"-->
<!--                                       required="required"-->
<!--                                       placeholder="Confirm Password">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <h2 th:if="${hasError}"><span class="text-danger" th:utext="${errorMessage}"></span></h2>-->
<!--                        <h2 th:unless="${hasError}"><span class="text-success" th:utext="${successMessage}"></span></h2>-->

<!--                        <div class="ln_solid"></div>-->
<!--                        <div class="form-group">-->
<!--                            <div class="col-md-9 col-sm-9  offset-md-3">-->
<!--                                <ul class="nav navbar-right">-->
<!--                                    <a data-th-href="@{/home}" class="btn btn-primary">Cancel</a>-->
<!--                                    <button type="reset" class="btn btn-primary">Reset</button>-->
<!--                                    <button type="submit" class="btn btn-success">Submit</button>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    -->

<!--</div>-->

<div class="right_col" role="main" data-layout-fragment="content">
    <div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i
                                class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <div class="col-md-8">
                    <form th:id="changePasswordId" class="form-horizontal form-label-left"
                          th:object="${changePassword}"
                          method="post">

                        <div class="form-group row ">
                            <div class="col-md-9 col-sm-9 ">
                                <input hidden th:id="userId" th:field="*{userId}">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Old Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="password" th:id="oldPassword" th:field="*{oldPassword}" class="form-control"
                                       required="required"
                                       placeholder="Old Password">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">New Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="password" th:id="newPassword" th:field="*{newPassword}" class="form-control"
                                       required="required"
                                       placeholder="New Password">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Confirm Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="password" th:id="confirmPassword" th:field="*{confirmPassword}" class="form-control"
                                       required="required"
                                       placeholder="Confirm Password">
                            </div>
                        </div>
<!--                        <h2 th:if="${hasError}"><span class="text-danger" th:utext="${errorMessage}"></span></h2>-->
<!--                        <h2 th:unless="${hasError}"><span class="text-success" th:utext="${successMessage}"></span></h2>-->

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <ul class="nav navbar-right">
                                    <a data-th-href="@{/home}" class="btn btn-primary">Cancel</a>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                    <button th:id="submitChangePasswordId"   class="btn btn-success">Submit</button>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
